@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:wght@300;700&display=swap");

*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
}

.main {
  background-image: url("assests/Images/bg.jpg");
  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
}

.main .box {
  height: 70vh;
  width: 100%;
  opacity: 0.69;
  position: absolute;
  top: 0%;
  background-color: black;
}
nav {
  max-width: 60vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

nav img {
  color: red;
  width: 130px;
  position: relative;
  z-index: 10;
}

nav button {
  position: relative;
  z-index: 10;
}

.hero {
  font-family: "Martel Sans", sans-serif;
  height: calc(100% - 62px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  position: relative;
  gap: 23px;
  padding: 0 30px;
}

.hero > :first-child {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 48px;
  text-align: center;
}
.hero > :nth-child(2) {
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.hero > :nth-child(3) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.seperation {
  height: 7px;
  background-color: rgb(46, 44, 44);
  position: relative;
  z-index: 20;
}

.btn {
  padding: 3px 8px;
  font-weight: 400;
  /* background-color: white; */
  color: white;
  background-color: rgba(248, 243, 243, 0.021);
  border: 1 px solid white;
  border-radius: 4px;
  cursor: pointer;
}

.btn-red {
  background-color: red;
  color: white;
  /* border: 1px black solid; */
  padding: 3px 24px;
  font-size: 20px;
  border-radius: 4px;
  font-weight: 400;
}

.main input {
  padding: 7px 101px 8px 14px;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.2);
  border: 1px solid rgba(246, 238, 238, 0.5);
}
.btn-red-sm {
  background-color: red;
  color: white;
}

.hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.first {
  display: flex;
  color: white;
  justify-content: center;
  max-width: 70vw;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.secImg {
  position: relative;
}
.secImg img {
  width: 607px;
  position: relative;
  z-index: 10;
}

.secImg video {
  position: absolute;
  top: 51px;
  right: 0;
  left: 0;
  width: 606px;
}

section.first > div {
  display: flex;
  flex-direction: column;
  padding: 34px 0;
}
section.first > div :first-child {
  font-size: 48px;
  font-weight: bolder;
}

section.first > div :nth-child(2) {
  font-size: 24px;
}

.faq h2 {
  text-align: center;
  font-size: 48px;
}
.faq {
  background: black;
  color: white;
  padding: 34px;
  font-size: 24px;
}
.faqbox {
  transition: all 1s ease-in-out;
  justify-content: space-between;
  display: flex;
  background-color: #2d2d2d;
  padding: 24px;
  max-width: 60vw;
  margin: 34px auto;
  cursor: pointer;
  color: white;
}

.faqbox:hover {
  background-color: #414141;
  color: white;
}

.faqbox svg {
  filter: invert(1);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer {
  color: white;
  max-width: 60vw;
  margin: auto;
  padding: 34px;
}

footer .questions {
  /* margin:2px 30vw; */
  /* text-align: center; */
  padding: 34px 0;
  color: rgb(206, 205, 205);
}

.footer a {
  /* text-decoration: none; */
  color: rgb(206, 205, 205);
  font-size: 15px;
}

.bottom-mail > :nth-child(1) {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
   font-family: "Martel Sans", sans-serif;
   color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 23px;
    padding: 10px 30px;
  
}

.bottom-box{
  padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    /* border-radius: 4px; */
    background-color: rgba(23, 23, 23, 0.2);
    border: 1px solid rgba(246, 238, 238, 0.5);
    border-radius: 4px;
}

.hero-button1{
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 10px;
}
@media screen and (max-width: 1300px) {
  nav {
    max-width: 90vw;
  }

  .first {
    flex-wrap: wrap;
  }

  .secImg img {
    width: 305px;
  }

  .secImg video {
    width: 305px;
  }

  .hero > :first-child {
    font-size: 32px;
  }

  .hero > :nth-child(2) {
    font-size: 18px;
  }

  .hero > :nth-child(3) {
    font-size: 18px;
  }

  .hero-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .faq h2 {
    font-size: 32px;
  }

  footer {
    max-width: 90vw;
  }

  /* .footer-item {
    align-items: center;
  } */

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    gap: 25px;
  }

  .hero-button1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}
